{% extends 'base/main_navbar.html' %}

{% block external_css %}
<link rel="stylesheet" href="/media/css/home/home_page.css">
{% endblock external_css %}

{% block body %}

<div class="container">
    <div class="left-section">

        <div class="sub-sections">
            <h2>🌟 Welcome to the Community!</h2>
            <p>We are glad to have you here. Explore, engage, and enjoy!</p>
        </div>

        <hr>

        <div class="community-section" id="community-section">
                      
        </div>

        <div class="non-joined-community-section">
            <h2 class="explore-txt">Explore other Communities</h2>
            {% for community in non_member_community %}
                <div class="chat-item">
                    <div class="user-icon">
                        <img src="{% if community.image %} {{ community.image.url }} {% else %} /media/images/user_logo/group_img.jpg {% endif %}" alt="User">
                    </div>
                    <div class="chat-details">
                        <div class="chat-header">
                            <span class="chat-name">{{community.community_name}}</span>
                            <button class="btn follow-btn" data-username = "{{request.user.username}}" data-community-id = "{{community.community_id}}">Join + </button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="explore-txt">You're already in all available communities!</p>
            {% endfor %}
        </div>

        <div class="load">
            <a href="{% url 'community_page' request.user.uid request.user.username %}">Load More</a>
        </div>
    </div>

    <div class="center-section">
        <p id="uid">{{request.user.uid}}</p>
        <p id="username">{{request.user.username}}</p>
        <div class="sub-sections" id="sub-sections">
            
        </div>
        <div class="load">
            <a href="{% url 'chat_page' request.user.uid request.user.username %}">Load More</a>
        </div>

        
    </div>

    <div class="right-section">
        <div class="profile-section">
            <div class="profile-header">
                <div class="profile-progress">
                    <svg width="80" height="80">
                        <circle cx="40" cy="40" r="35" stroke="#ddd" stroke-width="7" fill="none"></circle>
                        <circle id="progress-circle" cx="40" cy="40" r="35" stroke="#4CAF50" stroke-width="7" fill="none"
                            stroke-dasharray="219.9" stroke-dashoffset="219.9"></circle>
                        <text id="progress-text" x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="14px" >67%</text>
                    </svg>
                </div>
                <div class="details">
                    <h3 class="profile-name">Dev Pancholi</h3>
                    <div class="profile-actions">
                        <a href="{% url 'profile_page' %}" class="complete-profile-btn">Complete Your Profile</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="anonymous-section">
            <h3>Get Into Anonymous Mode</h3>
            <hr>
            <p>Anonymous mode allows you to browse and interact without revealing your identity.</p>
            <div class="switch-holder">
                <div class="switch-label">
                    <i class="fa-regular fa-eye-slash"></i> <span> Activate Anonymous Mode</span>
                </div>
                <div class="switch-toggle">
                    <input type="checkbox" id="anonymous">
                    <label for="anonymous"></label>
                </div>
            </div>
            <p class="note">Note: This Feature will be Launching Soon!</p>
        </div>

        <div class="ai-sections">
            <h3>AI Agent</h3>
            <hr>
            <p>Click button below to start chatting with AI.</p>
            <a href="{% url 'ai_chat_page' %}" class="btn">Chat with Ai</a>
        </div>

    </div>

{% endblock body %}

{% block external_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/media/js/home/home_page.js"></script>
{% endblock external_js %}