{% extends 'base/simple_navbar.html' %}

{% block title %} Chatter.com | Change Password {% endblock title %}

{% block external_css %} 
    <link rel="stylesheet" href="/media/css/accounts/style.css">
{% endblock external_css %}

{% block simple_navbar_side %}
    <div class="toogle-btn">
        <button id="theme-btn" class="btn btn-outline-light">
            <i class="fa-solid fa-moon" id="theme-icon"></i>
        </button>
    </div>
{% endblock simple_navbar_side %}


{% block body %}

    <section class="page">

        <div class="background">
            <div class="card forget-card p-3 shadow-lg">
                <div class="brand-img text-center">
                    <img src="/media/images/logo/main-rbg.png" alt="brand-desc">
                </div>

                <hr>

                <h4 class="text-center">Change Password</h4>
                <p class="text-center">Please enter your Details!</p>

                <form action="" method="post" enctype="multipart/form-data" autocomplete="off"> {% csrf_token %}

                    <div class="form-group">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control mb-2" placeholder="Enter your new password" id="password" name="password">
                    </div>
                    <span id="passwordError" class="error-message">
                        Password must be at least 8 characters, include an uppercase, a lowercase, a number, and a special character
                    </span>

                    <div class="form-group">
                        <label for="repassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control mb-2" placeholder="Confirm new password" id="repassword" name="repassword">
                    </div>
                    <span id="repasswordError" class="error-message">Passwords do not match</span>


                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-success w-75" id="change-btn" disabled>Change Password</button>
                    </div>
                </form>

                <hr>

                <div class="sign-in text-center mt-3">
                    <p class="text-muted">Already Have an Account? <a href="{% url 'login' %}"> Sign In </a> </p>
                </div>

            </div>
        </div>

    </section>


{% endblock %}

{% block external_js %}
<script src="/media/js/accounts/change_password.js"></script>
{% endblock external_js %}