{% extends 'base/simple_navbar.html' %}

{% block title %} Chatter.com | Forget Password {% endblock title %}

{% block external_css %} 
    <link rel="stylesheet" href="/media/css/accounts/style.css">
{% endblock external_css %}

{% block simple_navbar_side %}
    <p class="text-muted text-end mx-3">Already Have an Account? <a href="{% url 'login' %}"> Sign In </a> </p>

    <div class="toogle-btn">
        <button id="theme-btn" class="btn btn-outline-light">
            <i class="fa-solid fa-moon" id="theme-icon"></i>
        </button>
    </div>
{% endblock simple_navbar_side %}


{% block body %}

<section class="page">

    <div class="background">
        <div class="card forget-card p-3 shadow-lg">
            <div class="brand-img text-center">
                <img src="/media/images/logo/main-rbg.png" alt="brand-desc">
            </div>

            <hr>

            <h4 class="text-center">Reset Password</h4>
            <p class="text-center">Please enter your Details!</p>
            
            {% include 'base/alert.html' %}

            <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}

                <div class="form-group">
                    <label for="email" class="form-label">Registered Email</label>
                    <input type="email" class="form-control mb-2" placeholder="Enter your registered email id" id="email" name="email">
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger w-75">Reset Password</button>
                </div>
            </form>

            <hr>

            <div class="sign-in text-center mt-3">
                <p class="text-muted">Already Have an Account? <a href="{% url 'login' %}"> Sign In </a> </p>
            </div>

        </div>
    </div>

</section>


{% endblock body %}