{% extends 'base/main_navbar.html' %}

{% block external_css %}
<link rel="stylesheet" href="/media/css/chat/chat_page.css">
{% endblock external_css %}

{% block title %}
Community
{% endblock title %}

{% block internal_css %}
<style>
    #uid, #username{
        display: none;
    }
</style>
{% endblock internal_css %}

{% block body %}
<div class="container">
    <div class="sidebar">
        <div class="chat-header">
            <p class="title">Communities...</p>

            <!-- <button class="create-btn"><i class="fa-solid fa-plus"></i></button> -->
        </div>
        <hr>

        <p id="uid">{{uid}}</p>
        <p id="username">{{username}}</p>

        <div class="list-chats">

            <ul class="lists" id="list-communities">

                

                <!-- <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr> -->
            </ul>

        </div>
    </div>

    <div class="chat-container" id="chatContainer">
        
        <!-- <div class="chat-box">
            <div class="chat-headering">
                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo" class="chat-user-icon">
                <span class="chat-user-name">Dev Pancholi</span>
            </div>
            <div class="messages" id="messages"></div>
            <div class="message-input">
                <form action="" method="post">
                    <input type="text" id="messageInput" placeholder="Type a message...">
                    <button onclick="sendMessage()">Send</button>
                </form>
            </div>
        </div> -->

    </div>
</div>
{% endblock %}

{% block external_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="/media/js/chat/chat_page.js"></script> -->
{% endblock external_js %}