{% extends 'base/main_navbar.html' %}

{% block external_css %}
<link rel="stylesheet" href="/media/css/chat/chat_page.css">
{% endblock external_css %}

{% block body %}
<div class="container">
    <div class="sidebar">
        <div class="chat-header">
            <p class="title">Recent Chats...</p>

            <button class="create-btn"><i class="fa-solid fa-plus"></i></button>
        </div>

        <div class="list-chats">

            <ul class="lists" id="list-contacts">

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                
                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>

                <li class="contact">
                    <a href="" class="chatting">
                        <div class="chat-item">
                            <div class="user-icon">
                                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo">
                            </div>
                            <div class="chat-details">
                                <div class="chat-headers">
                                    <span class="chat-name">Dev Pancholi</span>
                                    <span class="message-count">5</span>
                                </div>
                                <div class="chat-base">
                                    <p class="message-preview">Hey! Are you coming today?</p>
                                    <p class="message-time">9:00pm</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <hr>
            </ul>

        </div>
    </div>

    <div class="chat-container" id="chatContainer">
        
        <!-- <div class="chat-box">
            <div class="chat-headering">
                <img src="/media/images/user_logo/user_img.jpg" alt="user-logo" class="chat-user-icon">
                <span class="chat-user-name">Dev Pancholi</span>
            </div>
            <div class="messages" id="messages"></div>
            <div class="message-input">
                <form action="" method="post">
                    <input type="text" id="messageInput" placeholder="Type a message...">
                    <button onclick="sendMessage()">Send</button>
                </form>
            </div>
        </div> -->

    </div>
</div>
{% endblock %}

{% block external_js %}
<script src="/media/js/base/toggle-d-l.js"></script>
{% endblock external_js %}