{% extends 'base/main_navbar.html' %}

{% block external_css %}
<link rel="stylesheet" href="/media/css/chat/chat_page.css">
{% endblock external_css %}

{% block internal_css %}
<style>
    #uid, #username{
        display: none;
    }
</style>
{% endblock internal_css %}

{% block title %}
Chatter | Chats 
{% endblock title %}


{% block body %}
<div class="container">
    <div class="sidebar">
        <div class="chat-header">
            <p class="title">Recent Chats...</p>

            <button class="create-btn"><i class="fa-solid fa-plus"></i></button>
        </div>
        <hr>

        <p id="uid">{{uid}}</p>
        <p id="username">{{username}}</p>

        <div class="list-chats">

            <ul class="lists" id="list-contacts">

            </ul>
        </div>
    </div>

    <div class="chat-container" id="chatContainer">
    
    </div>
</div>
{% endblock %}

{% block external_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/media/js/chat/chat_page.js"></script>
{% endblock external_js %}