.page .background{
    background-image: url('/media/images/accounts/background/chat_login.png');
    height: 90vh;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.dark-mode .page .background{
    background-image: url('/media/images/accounts/background/chat_login-rebg.png'); 
}

.card{
    width: 40%;
    position: relative;
    right: -800px;
    top: 10px;
}

.page .card img{
    width: 250px;
}

.page .card .error-message{
    color: red;
    font-size: 0.9em;
    display: none;
    font-weight: 700;
    width: 90%;
    margin-left: 25px;
    margin-top: -8px;
    margin-bottom: 5px;
}

.form-group{
    position: relative;
    margin-bottom: 16px;
}

.form-group label{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 14px;
}

.form-group input, .form-group .form-select{
    width: 100%;
    background: rgba(0, 0, 0, 0.13);
    outline: none;
    padding: 10px 14px;
    color: black;
    border-radius: 36px;
    font-family: 'ubuntu', 'sans-serif';
    font-size: 16px;
    transition: background 0.5s ease-in-out;
    margin-bottom: -10px;
}

.page .card{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    color: black;
}

#page2{
    display: none;
}

.sign-in .text-muted{
    font-weight: bold;
}


/* Dark Mode */
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode .page .card img {
    background-color: #d9d9e5; 
    opacity: 0.9;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .sign-in .text-muted{
    color: #d9d9e5 !important;
}

.dark-mode .card {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}


/* Form Inputs */
.form-group input, .form-group .form-select {
    background: rgba(0, 0, 0, 0.1);
    color: black;
    transition: background 0.3s;
}

.dark-mode .form-group input, 
.dark-mode .form-group .form-select {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}



@media (min-width:300px) and (max-width:600px) {

    .page .background {
        background-image: url('/media/images/accounts/background/chatter_748px.jpg');
    }

    .page .card {
        width: 95%; 
        right: -10px;
        top: 3px;
    }

    .page .card img {
        width: 180px; 
    }

    .side-text .text-muted{
        display: none;
    }

    .form-group .sign-in{
        margin-top: -10px !important;
    }

}


@media (min-width: 601px) and (max-width:800px) {
    .page .background {
        background-image: url('/media/images/accounts/background/chatter_748px.jpg');
    }

    .page .card {
        width: 95%; /* Make the card take more space */
        right: -20px;
    }

    .text-muted {
        text-align: center;
        margin-top: 10px;
    }

    .side-text .text-muted{
        display: none;
    }
}


@media (min-width: 801px) and (max-width:1024px) {
    .page .background {
        background-image: url('/media/images/accounts/background/chatter_748px.jpg');
        height: 91vh;
    }

    .page .card {
        width: 95%; /* Make the card take more space */
        right: -25px;
        height: 75vh;
        top: 55px;
    }

    .text-muted {
        text-align: center;
        margin-top: 10px;
    }

    form{
        width: 85%;
        align-self: center;
    }
}

@media (min-width : 1025px) and (max-width:1350){
    .page .card{
        right: -650px;
    }
}
